<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>spot Coordinate</title>

</head>
<body>
<form method="POST" action="/coordinate">
    <div class="form-group">
    <p><label>CropsName : <input type="text" name="cropsName"></label></p>
    <p><label>Latitude : <input type="text" name="latitude"></label></p>
    <p><label>Longitude : <input type="text" name="longitude"></label></p>
    <p><input type="submit" value="Submit"></p>
    </div>
</form>
<button id="Measure"> Crops Measurement </button>
<button id="termination">termination</button>
<div id="map" style="width:100%; height: 100vh;"></div>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBH0-lnC8QZgYZ4l1_2qw0NiYJMUizykrE&callback=initMap&region=kr"></script>
<script>
    function initMap() {
        let seoul = { lat: 37.5642135 ,lng: 127.0016985 };
        let map = new google.maps.Map(
                document.getElementById('map'), {
                    zoom: 12,
                    center: seoul
                });

    }
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript">
    let measuerment;
            $(document).ready(function () {
                $('#Measure').on('click', function () {
                    window.navigator.geolocation.getCurrentPosition(success, error);//()를 붙여 자동호출하는것 x
                })
            });
    $(document).ready(function () {
        $('#termination').on('click', function () {
            clearInterval(measuerment);
        })
    });

    function success(position){
        measuerment = setInterval(() => $('#myCoordinate').append("<p>"+"latitude = " + position.coords.latitude + " longitude = " + position.coords.longitude + "</p>"), 5000);
    }
    function error(err){
        $('#myCoordinate').text("조회 실패 ==>" + err.code);
    }
</script>
<div id="myCoordinate"></div>
</body>
</html>