<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>좌표 찍기</title>
</head>
<body>
<form method="post" action="/coordinate">
    <p><label>latitude : <input type="text" name="latitude"></label></p>
    <p><label>longitude : <input type="text" name="longitude"></label></p>
    <p><input type="submit" value="Submit"></p>
</form>

<input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">gregvregregve<br>
<input type="checkbox" id="vehicle2" name="vehicle1" value="Bike">gregvregregve&nbsp
</body>
</html>