<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>spot Coordinate</title>

</head>
<body>
<form method="POST" action="/coordinate">
    <div class="form-group">
    <p><label>CropsName : <input type="text" name="cropsName" id="cropsName"></label></p>
    <p><label>Latitude : <input type="text" name="latitude"></label></p>
    <p><label>Longitude : <input type="text" name="longitude"></label></p>
    <p><input type="submit" value="Submit"></p>
    </div>
</form>

<button id="Measure"> Crops Measurement </button>
<button id="termination">Termination</button>
<button id="remove">Remove</button>
<button id="save">Save</button>
<div id="map" style="width:100%; height: 100vh;"></div>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBH0-lnC8QZgYZ4l1_2qw0NiYJMUizykrE&callback=initMap&region=kr"></script>
<script>
    function initMap() {
        let seoul = { lat: 37.5642135 ,lng: 127.0016985 };
        let map = new google.maps.Map(
                document.getElementById('map'), {
                    zoom: 12,
                    center: seoul
                });

    }
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript">
    let measurement;
    //const name = document.getElementById("cropsName").value;

            $(document).ready(function () {
                $('#Measure').on('click', function () {
                    window.navigator.geolocation.getCurrentPosition(success, error);//()를 붙여 자동호출하는것 x
                })
            });
    $(document).ready(function () {
        $('#termination').on('click', function () {
            clearInterval(measurement);
        })
    });

    function success(position){
        measurement = setInterval(() => $('#myCoordinate').append("<p>"+ "<input type=\"checkbox\" name = \"Chk\">"
                + "cropsName : "+ document.getElementById("cropsName").value + ", " +
                "latitude : " + position.coords.latitude + ", " +
                "longitude : " + position.coords.longitude + "<label hidden>OK</label></p>"), 5000);
    }

    function error(err){
        $('#myCoordinate').text("조회 실패 ==>" + err.code);
    }

    $('#remove').click(function() {
        if ($("input:checkbox[name='Chk']:checked").length === 0) {
            alert("삭제할 항목을 선택해 주세요.");
            return;
        }

        $("input:checkbox[name='Chk']:checked").each(function(k,kVal){
            console.log("kVal ::", kVal.parentElement);
            let a = kVal.parentElement;
            $(a).remove();
        });
    });
    $(document).ready(function(){
        $('#save').click(function(){   //submit 버튼을 클릭하였을 때
            let sendData = $('#myCoordinate').text();   //폼의 이름 값을 변수 안에 담아줌
            let sendData_list = sendData.split("OK");
            let digit = [];

            sendData_list.forEach((item, index) => {
                digit.push({item});
            });
            let jsonEncode = JSON.stringify(digit);
            console.log()
            console.log(jsonEncode);
            //const list = $("input:checkbox[name='Chk']")
            //for (let i =0; i< list.length; i++)
            //{
            //console.log(sendData_list);
            //}
            $.ajax({
                type:'post',   //post 방식으로 전송
                url:'/coordinate/save',   //데이터를 주고받을 파일 주소
                data:digit,   //위의 변수에 담긴 데이터를 전송해준다.
                //dataType:Array,   //html 파일 형식으로 값을 담아온다.
                success     :   function(retVal){

                    if(retVal.code == "OK") {
                        alert(retVal.message);
                    } else {
                        alert(retVal.message);
                    }

                },
                error       :   function(request, status, error){
                    console.log("AJAX_ERROR");
                }
            });
            alert("성공 완료");
        });
    });


</script>
    <div id="myCoordinate"></div>
</body>
</html>