<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>spot Coordinate</title>

</head>
<body>
<form method="POST" action="/coordinate">
    <div class="form-group">
    <p><label>CropsName : <input type="text" name="cropsName" id="cropsName"></label></p>
    <p><label>Latitude : <input type="text" name="latitude"></label></p>
    <p><label>Longitude : <input type="text" name="longitude"></label></p>
    <p><input type="submit" value="Submit"></p>
    </div>
</form>

<button id="Measure"> Crops Measurement </button>
<button id="termination">Termination</button>
<button id="remove">Remove</button>
<button id="save">Save</button>
<div id="map" style="width:100%; height: 100vh;"></div>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBH0-lnC8QZgYZ4l1_2qw0NiYJMUizykrE&callback=initMap&region=kr"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript">
    let measurement;
    //const name = document.getElementById("cropsName").value;

            $(document).ready(function () {
                $('#Measure').on('click', function () {
                    measurement = setInterval(() => window.navigator.geolocation.getCurrentPosition(success, error), 5000);//()를 붙여 자동호출하는것 x
                })
            });
    $(document).ready(function () {
        $('#termination').on('click', function () {
            clearInterval(measurement);
        })
    });

    function success(position){
        $('#myCoordinate').append("<p>"+ "<input type=\"checkbox\" name = \"Chk\">"
                + "cropsName : "+ document.getElementById("cropsName").value + ", " +
                "latitude : " + position.coords.latitude + ", " +
                "longitude : " + position.coords.longitude + "<label hidden>OK</label></p>");
    }

    function error(err){
        $('#myCoordinate').text("조회 실패 ==>" + err.code);
    }

    $('#remove').click(function() {
        if ($("input:checkbox[name='Chk']:checked").length === 0) {
            alert("삭제할 항목을 선택해 주세요.");
            return;
        }

        $("input:checkbox[name='Chk']:checked").each(function(k,kVal){
            console.log("kVal ::", kVal.parentElement);
            let a = kVal.parentElement;
            $(a).remove();
        });
    });
    function bring_myCoordinate(button_id, url)
    {
        $(button_id).click(function(){   //submit 버튼을 클릭하였을 때
            let sendData = $('#myCoordinate').text();   //폼의 이름 값을 변수 안에 담아줌
            let sendData_list = sendData.split("OK");
            let digit = [];

            sendData_list.forEach((item, index) => {
                digit.push({item});
            });
            console.log()
            console.log(sendData_list);
            $.ajax({
                method: 'post',
                url: url,
                traditional: true,
                data: {
                    data: JSON.stringify(digit)
                },
                dataType: 'json',
                success     :   function(retVal){

                    if(retVal.code == "OK") {
                        alert(retVal.message);
                    } else {
                        alert(retVal.message);
                    }

                },
                error       :   function(request, status, error){
                    console.log("AJAX_ERROR");
                }
            });
            alert("성공 완료");
        });
    }
    $(document).ready(function(){
        bring_myCoordinate('#save', 'coordinate/save')
    });
    window.initMap = function () {
        const map = new google.maps.Map(document.getElementById("map"), {
            center: { lat: 37.5400456, lng: 126.9921017 },
            zoom: 10,
        });

        const malls = [
            { label: "C", name: "코엑스몰", lat: 37.5115557, lng: 127.0595261 },
            { label: "G", name: "고투몰", lat: 37.5062379, lng: 127.0050378 },
            { label: "D", name: "동대문시장", lat: 37.566596, lng: 127.007702 },
            { label: "I", name: "IFC몰", lat: 37.5251644, lng: 126.9255491 },
            { label: "L", name: "롯데월드타워몰", lat: 37.5125585, lng: 127.1025353 },
            { label: "M", name: "명동지하상가", lat: 37.563692, lng: 126.9822107 },
            { label: "T", name: "타임스퀘어", lat: 37.5173108, lng: 126.9033793 },
        ];
        malls.forEach(({ label, lat, lng }) => {
            const marker = new google.maps.Marker({
                position: { lat, lng },
                label,
                map,
            });
        });
    };

</script>
    <div id="myCoordinate"></div>
</body>
</html>