<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>좌표 찍기</title>
</head>
<body>
<div>
    <button>save</button>
    <button>delete</button>
    <form method="post" action="/workload/loadData">
    <label for="date">select date :</label>
    <select name="date" id="date">
        {{#date}}
        <option value="{{.}}">{{.}}</option>
        {{/date}}
    </select>
    <input type="submit" value="Load">
    </form>
</div>

<div id="map" style="width:100%; height: 100vh;"></div>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBH0-lnC8QZgYZ4l1_2qw0NiYJMUizykrE&callback=initMap&region=kr"></script>
<script>
    function initMap() {
        let seoul = { lat: 37.5642135 ,lng: 127.0016985 };
        let map = new google.maps.Map(
                document.getElementById('map'), {
                    zoom: 12,
                    center: seoul
                });

    }
</script>
<div>
{{#dataOfDate}}
<input type="checkbox" name="checkedValue" value="{{id}},{{name}},{{latitude}},{{longitude}}">{{id}}, {{name}}, {{latitude}}, {{longitude}}<br>
{{/dataOfDate}}
</div>
</body>
</html>